<h3>All Jobs for <%= @company.name %></h3>

<% @jobs.each do |job| %>
  <ul>
    <%= link_to job.title, company_job_path(@company, job) %>
    at
    <%= job.company.name %>
  </ul>
<% end %>

<h3>Contacts for <%= @company.name %></h3>
<%= render partial: 'jobs/contact', collection: @company.contacts %>
<%= render partial: 'contacts/form' %>
