<h2>All Jobs for <%= @company.name %></h2>
<p>Add a job: <%= link_to "Add", new_company_job_path(@company) %>

<ul>
  <% @jobs.each do |job| %>
    <p>
      <%= link_to job.title, company_job_path(@company, job) %>
      at
      <%= job.company.name %>
    </p>
  <% end %>
</ul>
<h3>Contacts for <%= @company.name %></h3>
<%= render partial: 'jobs/contact', collection: @company.contacts %>
<%= render partial: 'contacts/form' %>
