<h3>Job Details</h3>
<p> Title: <%= @job.title %></p>
<br>

<p>Description: <%= @job.description %></p>
<br>

<p>Level of Interest: <%= @job.level_of_interest %></p>
<br>

<p>City: <%= @job.city %></p>
<br>

<p>Company: <%= link_to @job.company.name, company_path(@job.company) %></p>
<div id="job_button">
  <%= button_to "Edit", edit_company_job_path(@job.company, @job), method: "get" %>
  <%= button_to "Delete", company_job_path(@job.company, @job), method: "delete" %>
</div>
<br>
<br>
<h3>Comments</h3>
<%= render partial: 'jobs/comment', collection: @job.comments.reverse %>
<%= render partial: 'comments/form' %>
