<h2> Welcome to Job Tracker <h2>
<div>
<h4>Number of Jobs per Interest Level</h4>
  <% @jobs.group_by_interest.each do |interest, count| %>
    <p><%= interest %> has <%= count %> job(s)</p>
  <% end %>
</div>
<div>
  <h4>Number of Jobs per Location</h4>
  <% @jobs.group_by_location.each do |location, count| %>
    <p>
      <%= location %> has <%= count %>
      <% city = Hash.new %>
      <% city["location"] = location  %>
      <%= link_to "job(s)", (jobs_path(@job).concat("?" + city.to_query)) %>
    </p>
  <% end %>
</div>
